.profile-page {
  margin-left: 250px;
  margin-top: 90px;
  padding: 20px;
  background: #f6f8fb;
  min-height: 100vh;
}

.profile-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* MAIN CARD */
.profile-container {
  background: white;
  padding: 30px;
  border-radius: 14px;
  display: flex;
  gap: 60px;
  max-width: 900px;
  margin: auto;
  box-shadow: 0 5px 14px rgba(0,0,0,0.05);
}

/* LEFT SIDE */
.photo-box {
  text-align: center;
  width: 220px;
}

.avatar-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #eef2ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-weight: bold;
  color: #4f46e5;
  margin: auto;
  overflow: hidden;
}

.avatar-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upload-btn {
  display: block;
  background: #7c3aed;
  color: white;
  padding: 10px;
  margin-top: 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.upload-btn:hover {
  background: #6d28d9;
}

.remove-btn {
  margin-top: 10px;
  padding: 8px 10px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}

.remove-btn:hover {
  background: #f5f5f5;
}


/* RIGHT FORM */
.form-box {
  flex: 1;
}

.form-box label {
  display: block;
  margin-top: 12px;
  font-weight: 600;
}

.form-box input {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
}

.form-box input:focus {
  border-color: #7c3aed;
}


/* SAVE BUTTON */
.save-profile-btn {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background: #10b981;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

.save-profile-btn:hover {
  background: #059669;
}
