* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #f4f7fc;
}

a {
  text-decoration: none;
}

.sidebar {
  width: 240px;
  height: 100vh;
  background: #ffffff;
  position: fixed;
  left: 0;
  top: 0;
  padding: 25px 20px;
  border-right: 1px solid #e4e6eb;
}

.sidebar h2 {
  margin-bottom: 25px;
  color: #0a66d8;
}

.menu-item {
  padding: 12px;
  border-radius: 8px;
  color: #444;
  margin-bottom: 10px;
  display: block;
}

.menu-item:hover,
.active {
  background: #e8f1ff;
  color: #0a66d8;
}

.navbar {
  height: 70px;
  background: #0a66d8;
  width: calc(100% - 240px);
  margin-left: 240px;
  position: fixed;
  top: 0;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 25px;
  justify-content: space-between;
}

.search-box input {
  width: 300px;
  padding: 10px 12px;
  border: none;
  border-radius: 6px;
}

.content {
  margin-left: 240px;
  padding: 100px 30px 30px;
}

/* Cards */
.dashboard-card {
  background: white;
  padding: 25px;
  width: 250px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
}

.event-card,
.highlight-card {
  background: #fff;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
}

.event-card img,
.highlight-card img {
  width: 100%;
  height: 160px;
  border-radius: 10px;
  object-fit: cover;
}

.btn {
  background: #0a66d8;
  color: #fff;
  padding: 10px;
  border-radius: 6px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #004ea8;
}

.notification {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.07);
}

.cert-row {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-box {
  width: 380px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  text-align: center;
  margin-top: 40px;
}
